{% include 'header.html' %}



<div class="card"style="min-height: 90vh; border: none" >

    <div class="card-body" style="background-image: url('static/images/office.jpeg'); background-attachment: fixed; background-size: cover;">
        <div class="row">
        <div class="col-sm-3">
            <div class="card" style="min-height: 0vh; border: none;"></div>
        </div>
        <div class="col-sm-6">
            <div class="card shadow m-5">
                <div class="card-body">
                    <center>
                    <h4 class="p-2" style="border-bottom: 3px solid rgb(197, 181, 5); color: rgb(55, 133, 37);"><b>Employee Log In</b></h4>
                    </center>
                </div>    
                <div class="container-fluid ">
                    <form method="post" >
                        {% csrf_token %}
                        <div class="form-row">
                            <div class="col-sm-12">
                                <div class="form-group">
                                    <label for=""><b>Employee Id</b></label>
                                    <input type="text" name="employeeid" class="form-control" placeholder="Enter last name" pattern="[0-9]+">
                                </div>
                            </div>
                            <div class="col-sm-12 ">
                                <div class="form-group">
                                    <label for="" ><b>Password</b></label>
                                    <input type="password" name="password" class="form-control" placeholder="Enter first name">
                                </div>
                            </div>
                        </div>
                        <center><input type="submit" value="Log In" class="btn btn-primary"></center>
                    </form>
                </div>
            </div>
        </div>
        <div class="col-sm-3">
            <div class="card" style="min-height: 0vh; border: none;"></div>
        </div>
        </div>
    </div>
    
</div>


{% if eror == "yes" %}
<script>
    alert('Login Up Successful');
    window.location = ("{% url 'emp_home' %}");
</script>
{% endif %}
{% if eror == "no" %}
<script>
    alert('Invalid credentials');
</script>
{% endif %}