{% include 'header.html' %}

<script>
    function checkpassword(){
        if (document.signup.confirmpassword.value != document.signup.createpassword.value){
            alert('Confirm password is incorrect ');
            document.signup.confirmpassword.focus();
            return false;
        }
        return true;
    }
</script>

<div class="card shadow m-5">
    <div class="card-body">
        <h4 class="p-2" style="border-bottom: 3px solid rgb(197, 181, 5); color: rgb(55, 133, 37);"><b>Create a new account</b></h4>
    </div>
    <div class="container-fluid">
        <form method="post" name = "signup" onsubmit="return checkpassword()">
            {% csrf_token %}
            <div class="form-row">
                <div class="col-sm-6">
                    <div class="form-group">
                        <label for="" ><b>First Name</b></label>
                        <input type="text" name="firstname" class="form-control" placeholder="Enter first name" pattern="[A-Za-z]+">
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="form-group">
                        <label for=""><b>Last Name</b></label>
                        <input type="text" name="lastname" class="form-control" placeholder="Enter last name" pattern="[A-Za-z]+">
                    </div>
                </div>
                <div class="col-sm-12">
                    <div class="form-group">
                        <label for=""><b>Employee Id</b></label>
                        <input type="text" name="employeeid" class="form-control" placeholder="Enter last name" pattern="[0-9]+">
                    </div>
                </div>
                <div class="col-sm-12">
                    <div class="form-group">
                        <label for=""><b>E-mail Id</b></label>
                        <input type="email" name="emailid" class="form-control" placeholder="Enter last name">
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="form-group">
                        <label for="" ><b>Create Password</b></label>
                        <input type="password" name="createpassword" class="form-control" placeholder="Enter first name">
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="form-group">
                        <label for=""><b>Confirm Password</b></label>
                        <input type="password" name="confirmpassword" class="form-control" placeholder="Enter last name">
                    </div>
                </div>

            </div>
            <input type="submit" value="submit" class="btn btn-primary">
        </form>
    </div>
</div>


{% if eror == "yes" %}
<script>
    alert('Sign Up Successful');
    window.location = ("{% url 'emp_login' %}");
</script>
{% endif %}
{% if eror == "no" %}
<script>
    alert('Something went wrong ');
</script>
{% endif %}